<% render 'head' %>

<div class='background-image'></div>
<%= image_tag 'logo_transparent.png', class: 'logo' %>
<%= link_to new_place_path do %>
  <button class='background-cta'><p>Neuer Eintrag</p></button>
<% end %>
<%= link_to '#map', class: 'scroll-link' do %>
  <%= image_tag 'map.png', class: 'background-map scroll-link' %>
  <%= image_tag 'white_arrow.gif', class: 'background-map-arrow scroll-link' %>
<% end %>

<%= render 'layouts/map' %>