<%= form_for @place do |f| %>
  <div class='form-card box-shadow-2'>
    <div class="icon-wrapper box-shadow-3">
      <%= image_tag 'stand.png', class: 'icon' %>
      <p>Location</p>
    </div>
    <div class="form-wrapper">
      <div class="form-input-wrapper">
        <p class='form-label'>Name</p>
        <%= f.text_field :name, class: 'form-text-input box-shadow-1' %>
      </div>
      <div class="form-input-wrapper">
        <p class='form-label'>Bewertung</p>
        <%= f.number_field :rating, class: 'form-text-input box-shadow-1' %>
      </div>
      <div class="form-input-wrapper">
        <p class='form-label'>Ort</p>
        <%= f.text_field :location, id: 'maps-location', class: 'form-text-input box-shadow-1' %>
      </div>
    </div>
  </div>
  <%= fields_for :visits do |visit| %>
    <div class='form-card box-shadow-2'>
      <div class="icon-wrapper box-shadow-3">
        <%= image_tag 'calendar.png', class: 'icon' %>
        <p>Besuch</p>
      </div>
      <div class="form-wrapper">
        <div class="form-input-wrapper">
          <p class='form-label'>Datum</p>
          <%= visit.date_field :date, class: 'form-text-input box-shadow-1' %>
        </div>
        <div class="form-input-wrapper">
          <p class='form-label'>Notizen</p>
          <%= visit.text_area :notes, class: 'form-text-input box-shadow-1' %>
        </div>
        <div class="form-input-wrapper">
          <p class='form-label'>Bilder</p>
          <%= visit.file_field :images, multiple: true, direct_upload: true, class: 'image-upload' %>
        </div>
      </div>
    </div>
    <%= fields_for :vines do |vine| %>
      <div class='form-card box-shadow-2'>
        <div class="icon-wrapper box-shadow-3">
          <%= image_tag 'vine.png', class: 'icon' %>
          <p>Wein</p>
        </div>
        <div class="form-wrapper">
          <div class="form-input-wrapper">
            <p class='form-label'>Name</p>
            <%= vine.text_field :name, class: 'form-text-input box-shadow-1' %>
          </div>
          <div class="form-input-wrapper">
            <p class='form-label'>Bewertung</p>
            <%= vine.number_field :rating, class: 'form-text-input box-shadow-1' %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= f.submit 'Abschicken', class: 'create-button' %>
<% end %>