<% provide :head_tags do %>
    <script>
        document.addEventListener("turbolinks:load", () => {
            autocompleteLocation({
                centerLat: <%=@center.latitude%>, 
                centerLng: <%=@center.longitude%>, 
            });
        });
    </script>
<% end %>

<%= link_to(root_path) do %>
  <button>Zurück</button>
<% end %>

<%= form_for @place do |f| %>
  Name: <%= f.text_field :name %>
  Bewertung: <%= f.number_field :rating %>
  Location: <%= f.text_field :location, id: 'maps-location' %>
  <%= fields_for :visits do |visit| %>
    Datum: <%= visit.date_field :date %>
    Notizen: <%= visit.text_area :notes %>
    <%= visit.file_field :images, multiple: true, direct_upload: true %>
  <% end %>
  <%= fields_for :vines do |vine| %>
    Wein Name: <%= vine.text_field :name %>
    Wein Rating: <%= vine.number_field :rating %>
  <% end %>
  <%= fields_for :vines do |vine| %>
    Wein Name: <%= vine.text_field :name %>
    Wein Rating: <%= vine.number_field :rating %>
  <% end %>
  <%= f.submit %>
<% end %>
