<% render 'head_map' %>

<%= link_to 'Neuer Ort', new_place_path %>

<h1><%= @place.name %></h1>
<p><%= @place.location %></p>
<p><%= @place.rating %></p>
<% @visits.each do |visit| %>
  <p><%= DateService.format_date(visit.date) %></p>
  <p><%= visit.notes %></p>
  <% visit.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
<% end %>
<% @vines.each do |vine| %>
    <p><%= vine.name %></p>
    <p><%= vine.rating %></p>
<% end %>

<%= render 'layouts/map' %>
